@font-face{
    font-family: 'OuterSans-Bold';
    src: url('../fonts/MADE Outer Sans PERSONAL USE/MADE Outer Sans Bold PERSONAL USE.otf') format('opentype');
}
@font-face{
    font-family: 'OuterSans-Light';
    src: url('../fonts/MADE Outer Sans PERSONAL USE/MADE Outer Sans Light PERSONAL USE.otf') format('opentype');
}